@import "sass/base/_typography";
@import "sass/components/_feature_box";
@import "sass/abstracts/_utilities";

.features_section {
  // margin-top: -15.625rem;
  padding: 3.125vmax 0;
  background-image: linear-gradient(to right, var(--color-L0-T50), var(--color-L0-T50)),
    url(/media/pilot-room2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  // clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

  .features_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 31.25rem) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}
