// components\0_layout\main-layout.module.scss
.main_layout_section {
  background-color: var(--color-L10);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
}
