.main_button {
  position: relative;
  font-size: 0.8vmax;
  padding: 1vmax 1.5vmax;
  border-radius: 6.25vmax;
  text-transform: uppercase;
  border: 0;
  margin-top: 3.125vmax;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  &:hover,
  &:focus {
    box-shadow: 0 0.625vmax 1.25vmax var(--color-L0-T20);
    transform: translateY(-0.1875vmax);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    box-shadow: 0 0.3125vmax 0.625vmax var(--color-L0-T20);
    transform: translateY(-0.0625vmax);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition-all-fast);
  }

  &.button_white {
    background-color: var(--color-L95);

    &::after {
      background-color: inherit;
    }
  }

  // &.button_welcome {
  //   background-color: var(--dim-pink);
  //   color: var(--color-L95);
  // }

  &.button_all_tours {
    background-image: linear-gradient(
      to right,
      var(--medium-blue),
      var(--dark-purple),
      var(--dark-red)
    );
    color: var(--color-L100);
    margin-top: var(--large-margin);

    &::after {
      background-image: inherit;
    }
  }

  &.button_booking {
    background-color: var(--dim-pink);
    margin-top: 2vmax;
    color: var(--color-L100);

    &::after {
      background-color: inherit;
    }
  }
}

.link_button {
  position: relative;
  font-size: 1vmax;
  text-decoration: none;
  color: var(--dim-pink);
  display: inline-block;
  background-color: transparent;
  border: 0;
  border-bottom: 0.0625vmax solid var(--dim-pink);
  padding: 0.5vmax;
  border-radius: 0.3125vmax;
  cursor: pointer;
  transition: var(--transition-all-fast);

  &:hover,
  &:focus {
    background-color: var(--dim-pink);
    color: white;
    box-shadow: 0 0.625vmax 0.625vmax var(--color-L0-T20);
    transform: translateY(-0.125vmax);
  }
  &:active {
    box-shadow: 0 0.3125vmax 0.625vmax var(--color-L0-T20);
    transform: translateY(0);
  }
}
