// src\styles\sass\components\_image_composition.scss
.images_composition_box {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.5vmax;

  .composition_image {
    width: 25vmax;
    height: auto;
    box-shadow: 0 0.9375vmax 2.5vmax var(--color-L0-T90);
    border-radius: 0.3125vmax;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    // outline-offset: 0.625vmax;
    transition: var(--transition-all-fast);

    &.active {
      outline: 0.625vmax solid var(--dim-pink);
      box-shadow: 0 1.5625vmax 2.5vmax var(--color-L0-T50);
      z-index: 10;
    }

    &.image_1 {
      // top: -1.25rem;
      left: 5%;
      transition-property: left, z-index, transform;
      transition-duration: var(--transition-fast), 0s, var(--transition-fast);
      transition-delay: var(--transition-fast), var(--transition-fast), 0s;
      // It may be confusing, but the delays here are more for when the transition is moving backward, not forward.

      &.active {
        // The delays here are moving forward, not backward.
        transition-delay: 0s, var(--transition-fast), var(--transition-fast);
        left: -30%;
        transform: translateX(70%) scale(1.1);
      }
    }
    &.image_2 {
      right: 5%;
      top: 15%;
      transition-property: right, z-index, transform;
      transition-duration: var(--transition-fast), 0s, var(--transition-fast);
      transition-delay: var(--transition-fast), var(--transition-fast), 0s;

      &.active {
        transition-delay: 0s, var(--transition-fast), var(--transition-fast);
        right: -30%;
        transform: translateX(-70%) scale(1.1);
      }
    }
    &.image_3 {
      left: 25%;
      top: 25%;

      &.active {
        transform: scale(1.1);
      }
    }
  }

  @media screen and (max-width: 42.5rem) {
    // display: grid;
    // gap: 1.875vmax;
    // grid-template-columns: repeat(auto-fit, 1fr);
    // justify-items: center;
    // align-items: center;

    // .composition_image {
    //   width: 30vmax;
    //   position: relative;

    //   &.image_1 {
    //     left: 0;
    //   }
    //   &.image_2 {
    //     right: 0;
    //     top: 0;
    //   }
    //   &.image_3 {
    //     left: 0;
    //     top: 0;
    //   }
    // }
    display: none;
  }
}
