// components\1_header_section\header_section.module.scss
@import "sass/base/_typography";
@import "sass/components/_button";

.header_section {
  height: calc(100vh - var(--body-padding));
  background-image: linear-gradient(to right, var(--color-L0-T50), var(--color-L10-T50)),
    url(/media/galactours-hero.jpg);
  background-size: cover;
  background-position: top;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &_logo_box {
    // position: absolute;
    // top: 2.5rem;
    // left: 2.5rem;
    padding: 0.625vmax 1.25vmax;
    display: flex;
    align-items: center;
    gap: 1.25vmax;
    height: var(--logo-header-box-height);

    h1 {
      letter-spacing: 0.125vmax;
      text-transform: uppercase;
      // background-image: linear-gradient(to right bottom, var(--dim-pink), var(--dim-red));
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

    &_image_box {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      width: 3.125vmax;
      height: 3.0625vmax;
      position: relative;

      &_image {
        -o-object-fit: contain;
        object-fit: contain;
        vertical-align: bottom;
      }
    }
  }

  &_heading_box {
    // position: absolute;
    // top: 45%;
    // left: 50%;
    // transform: translateY(-50%) translateX(-50%);
    height: calc(100% - var(--logo-header-box-height));
    display: flex;
    align-items: center;
    justify-content: center;

    &_sub_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-10%);
    }
  }
}
