@import "sass/base/_typography";
@import "sass/components/_form";
@import "sass/abstracts/_utilities";
.booking_section {
  padding: 3.125vmax 9.375vmax;
  // background-image: linear-gradient(to right bottom, var(--dim-pink), var(--dim-red));
  // background-image: linear-gradient(to right bottom, var(--dim-pink), var(--dim-red));

  .booking_card {
    background-image: linear-gradient(
        105deg,
        var(--color-L0-T90) 0%,
        var(--color-L0-T90) 50%,
        transparent 50%
      ),
      url(/media/emerald-river.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.625vmax;
    height: 31.25vmax;

    .booking_card_form_box {
      width: 50%;
      padding: 3.75vmax;
    }
  }

  @media screen and (max-width: 37.5rem) {
    padding: 3.125vmax;

    .booking_card {
      background-image: linear-gradient(90deg, var(--color-L0-T90), var(--color-L0-T90)),
        url(/media/emerald-river.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 0.625vmax;
      height: 31.25vmax;
      text-align: center;

      .booking_card_form_box {
        width: 100%;
        padding: 3.75vmax;
      }
    }
  }
}
